.container_home {
    .container_conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .livros {
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            flex-wrap: wrap;
            margin: 1rem;
            padding: 1rem;
        }
    }


}